/.vscode
/2_dates.sql
/2_dates_queries.sql
/3_cases.sql
/3_cases_queries.sql
/4_subqueries_CTE.sql
/4_subqueries_problems.sql
/case queries.sql
/case.sql
/CREATE TABLE job_applied.sql
/csv_files
/date_queries.sql
/sql_course.session.sql
/subqueries.sql
/table_queries.sql
/test.sql
/time.sql
/union_queries_problems.sql